:root {
  --colorA: cyan;
  --colorB: magenta;
}

body {
  margin: 0;
}

#gradient {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at center, var(--colorA) 0%, var(--colorB) 100%);
}